* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html,body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

label {
  font-weight: bold;
  color: #414040;
  font-size: 14px;
}

.app {
  height: 100%;
}